################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
Psychonauts2PositionSaver/bin/*
Psychonauts2PositionSaver/obj/*
Psychoanuts2PositionSaver/.vs/Psychonauts2PositionSaver/v16/.suo
Psychoanuts2PositionSaver/.vs/Psychonauts2PositionSaver/v16/.suo
Psychoanuts2PositionSaver/.vs/Psychonauts2PositionSaver/v16/.suo
Psychoanuts2PositionSaver/bin/Debug/Psychonauts2PositionSaver.application
Psychoanuts2PositionSaver/bin/Debug/Psychonauts2PositionSaver.exe
Psychoanuts2PositionSaver/bin/Debug/Psychonauts2PositionSaver.exe.config
Psychoanuts2PositionSaver/bin/Debug/Psychonauts2PositionSaver.exe.manifest
Psychoanuts2PositionSaver/bin/Debug/Psychonauts2PositionSaver.pdb
Psychoanuts2PositionSaver/bin/Debug/VAMemory.dll
Psychoanuts2PositionSaver/bin/Debug/app.publish/Psychonauts2PositionSaver.exe
Psychoanuts2PositionSaver/bin/Release/Psychonauts2PositionSaver.application
Psychoanuts2PositionSaver/bin/Release/Psychonauts2PositionSaver.exe
Psychoanuts2PositionSaver/bin/Release/Psychonauts2PositionSaver.exe.config
Psychoanuts2PositionSaver/bin/Release/Psychonauts2PositionSaver.exe.manifest
Psychoanuts2PositionSaver/bin/Release/Psychonauts2PositionSaver.pdb
Psychoanuts2PositionSaver/bin/Release/VAMemory.dll
Psychoanuts2PositionSaver/bin/Release/app.publish/Psychonauts2PositionSaver.exe
Psychoanuts2PositionSaver/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Psychoanuts2PositionSaver/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Psychoanuts2PositionSaver/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.application
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.csproj.CopyComplete
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.csproj.CoreCompileInputs.cache
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.csproj.FileListAbsolute.txt
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.csproj.GenerateResource.cache
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.csprojAssemblyReference.cache
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.exe
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.exe.manifest
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.Form1.resources
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.pdb
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.Properties.Resources.resources
Psychoanuts2PositionSaver/obj/Debug/Psychonauts2PositionSaver.TrustInfo.xml
Psychoanuts2PositionSaver/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Psychoanuts2PositionSaver/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.application
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.csproj.CopyComplete
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.csproj.CoreCompileInputs.cache
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.csproj.FileListAbsolute.txt
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.csproj.GenerateResource.cache
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.exe
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.exe.manifest
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.Form1.resources
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.pdb
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.Properties.Resources.resources
Psychoanuts2PositionSaver/obj/Release/Psychonauts2PositionSaver.TrustInfo.xml
Psychoanuts2PositionSaver/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
