################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SaveStatePsychonauts/.vs/SaveStatePsychonauts/v16
/SaveStatePsychonauts/obj
