################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
Psychonauts2PositionSaver/bin/*
Psychonauts2PositionSaver/obj/*
Psychoanuts2PositionSaver/.vs/Psychonauts2PositionSaver/v16/.suo
Psychoanuts2PositionSaver/.vs/Psychonauts2PositionSaver/v16/.suo
